<% if user_signed_in? %>
  <%= link_to "麻雀講座", mahjong_course_index_path, :class => 'navbar-link' %>
<% else %>
<% end %>

<%# 以下進捗テスト用 %>

<div class="entry">

  <h1>
    <p>直近の更新点色々</p>
  </h1>

  <div class="entry-inner">
    <p>講座のレイアウトを結構変更しました。ほぼ完成と言って差し支えない所まで出来た気がする。</p>
    <p>そろそろ講座をしっかり書いていきたい。</p>

    <br><br>
    <p>レイアウト、講座の進捗についての確認は<%= link_to "こちらからどうぞ。", mahjong_course_1_path, :class => '' %>
    </p>
  </div>

</div>
