<h1>
 <p>mint 更新履歴</p>
</h1>
<div class="entry-inner">
 <h2>更新履歴</h2>
 <p>麻雀では下の形のように、<strong>"3枚で１組"のものを４つ</strong>と、<strong>同じ牌を２つ</strong>揃えた形にすることでアガりが成立します。</p>
 <p>※ここに麻雀牌の画像欲しいです</p>
 <p>"3枚で１組"、この組の集め方には"順子"と呼ばれるものと刻子と呼ばれるのものの2種類が存在します。</p>
 <h3>順子</h3>
 <p>テキスト見本</p>
 <h3>刻子</h3>
 <p>テキスト見本</p>
</div>
