<h1>
 <p>mint_appへようこそ!</p>
</h1>
<div class="entry-inner">
 <h2>更新履歴</h2>
 <p>レイアウトのテストは<a href="/home/index">こちらからどうぞ。</a></p>

 <h3>4/24</h3>
 <p>ふぁぼ機能</p>


 <h3>4/23</h3>
 <p>レイアウトやトップページを弄って粗方完成。<br>お洒落なトップが欲しかったけど時間がないので((</p>

 <h3>4/22</h3>
 <p>画像設定機能の追加。ついでに各項目にユーザー画像を表示できるようにしました。</p>

 <h3>4/21</h3>
 <p>DBの時間ズレや色々の修正をしました。</p>

 <h3>4/20</h3>
 <p>ユーザーと記事の結びつけをしました。</p>

 <h3>4/19</h3>
 <p>レイアウトの修正、大分良くなった。</p>

 <h3>4/18</h3>
 <p>DB作って記事作成機能と記事一覧ページと追加しました。</p>

</div>
