<%= form_tag("/post/#{@post.id}/update") do %>

  <p>タイトル</p><textarea name="title" rows="2" cols="100"><%= @post.title %></textarea><br>
  <p>内容</p><textarea name="content" rows="30" cols="100" wrap="hard"><%= @post.content %></textarea><br>

  <input type="submit" value=編集するよ~~！！>
<% end %>
