
<%= form_tag("/post/create") do %>
  <h3>タイトル</h3>
  <textarea name="title" rows="1" cols="30" style="font-size:200%;" style="font-weight:100;"></textarea><br>

  <h3>内容</h3>
  <textarea name="content" rows="30" cols="70" wrap="hard"></textarea><br>

  <input type="submit" name="" value=投稿する>
<% end %>
